body{
    background-color:black ;
    display:flex;

}

/*Tipografías externas*/
@font-face {
    font-family: 'Learn Write';
    src: url("assets/victor/fonts/learn_write/LearnWriteDEMO.ttf");
    font-weight:100;
    font-style:normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url("assets/frida/helvetica-255/Helvetica.ttf");
    font-weight:100;
    font-style:normal;
}

/*HISTORIA DE FRIDA*/
.body5{
    background-image: url("assets/frida/frida_wallpapper.png");
    height: 930px;
}
.derechaF{
    background-color:#15181b;
    padding: 10px;
    float: right;
    height: 430px;
    width: 50%;
    margin: 25px 50px 75px 100px
}

@media screen and (max-Width:850px){
    .izquierda, .centro, .derecha{
        width: 100%;
    }
}


/*HISTORIA DE VIKTOR*/
.body7{
    background-color:#dfe0e2;
}


/*HISTORIA DE JUANA*/
.body8{
    background-color:#dfe0e2;
}



.box {
    width: 400px;
    height: 500px;
    background-color: #746c6d;
    position: absolute;
    cursor: grab;
    display: flex;
    background-image: url(assets/papel.jpg);
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Reenie Beanie";
    font-size: 24px;
    font-style: normal;
    padding: 10px;
    
}

/*codigo para la pagina de MAR*/
                
#MAR{

   text-align: justify;
   color: #5a5d61;
   padding: 10px;
   font-size: 12px;
   font-family: "Reenie Beanie";
   font-style: normal;

}

.rectanguloMAR{
    
    width:350px;
    height:500px;
    background-color: #ac8f46;
    color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    /*posicion de ahuevo*/
    right:20%;
    bottom: 20%;
}

.ventanaMAR{
    display:none;
    position: absolute;
    width: 450px;
    height: 700px;
    background-image: url(assets/diario_mar.jpg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 35%;
    bottom: 0%;

}

.cerrarMAR{
    padding: 5px 10px;
    top:2px;
    right: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: red;
    position: absolute;

}

/*codigo para SERHU*/

#Serh{
    text-align: justify;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.notiSer{
    width:400px;
    height:100px;
    background-color: #3848d980;
    color: white;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    /*posicion de ahuevo*/
    right:.5%;
    bottom: 40%;
}

.ventanaSer{
    display:none;
    position: fixed;
    width: 300px;
    height: 180px;
    background: white;
    border-radius:5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 60%;
    bottom: 30%;
    border: 2px solid #ccc;

}

/*.barra-superior {
    width: 95%;
    height: 45px;
    background: #3848d9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}*/

.cerrarSer{

    padding: 5px 10px;
    top:-70px;
    right: -1px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: red;
    position: absolute;

}


#susa{
    text-align: justify;
    color: #000000;
    padding: 10px;
    font-size: 15px;
    font-family: 'Itty Bitty Notebook', sans-serif ;
}

.posticSu{
    width:380px;
    height:150px;
    background-color: #ffd900;
    color: rgb(12, 12, 12);
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    /*posicion de ahuevo*/
    right:60%;
    bottom: 35%;
    padding: 10px;
}

.diarioSu{
    width:380px;
    height:150px;
    background-image: url(assets/papel.jpg);
    color: rgb(12, 12, 12);
    display:flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    /*posicion de ahuevo*/
    right:10%;
    bottom: 75%;
    padding: 10px;
}


.imagsusa{
    padding: 50px;
    position: absolute;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    right: -10%;
    bottom: 10%;
}


